.place__image {
    width: calc(100% - 32px);
    height: auto;
    background-size: cover;
    background-position: left;
}

@media (max-width: 1279px) {
    .place__image {
        width: calc(100% - 22px);
        height: auto;
    }
}

@media (max-width: 767px) {
    .place__image {
        width: 100%;
        margin-bottom: 32px;
    }
}