.cover {
    width: calc(100% - 96px);
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "title"
    "subtitle";
    gap: 32px;
    text-decoration: none;
}

@media (max-width: 1279px) {
    .cover {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .cover {
        gap: 16px;
    }
}