.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 92px;
}

@media (max-width: 1023px) {
    .place {
       margin-bottom: 73px;
    }
}

@media (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .place:last-of-type {
        grid-template-columns: 1fr;
        margin-bottom: 41px;
    }
}