.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(max-content, min-content) 500px;
    margin-bottom: 80px;
}

@media (max-width: 1279px) {
    .place {
        grid-template-rows: minmax(max-content, min-content) 472px;
    }
}